<tr class="row-dp row-department-<%= department.id %>">
  <th class="row-id" scope="row"></th>
  <td class="name"><%= department.name %></td>
  <td class="description"><%= department.description %></td>
  <td class="size"><%= department.users.size %> <%= t ".staff" %></td>
  <td class="status">
    <%= link_to t(".edit.title"), edit_admin_department_path(department), remote: true, class: "btn btn-warning" %>
    <%= link_to t(".delete"), [:admin, department], method: :delete, class: "btn btn-danger destroy", data: {id: department.id} %>
  </td>
</tr>
