<%= form_for [:admin, @department] do |f| %>
  <%= render "admin/shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :name, t("admin.departments.new.name") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, t("admin.departments.new.description") %>
    <%= f.text_area :description, class: "form-control", rows: Settings.form.text_area_rows %>
  </div>
  <%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>
