$('.notification').html('')
<% if @department.errors.any? %>
  $('#myModal').find('.reset-error').html('')
  $('#myModal').find('.form-control').css("border-color", "#ced4da");
  <% @department.errors.messages.each  do |key, value| %>
    $('#myModal').find('.error-<%= key %>').html('<%= "#{t("errors.user.#{key}")} #{value.join(", ")}" %>')
    $('#myModal').find('#department_<%= key %>').css("border-color", "#e68383");
  <% end %>
  $('.notification').append('<div class="alert alert-danger"><%= t ".danger" %></div>')
<% else %>
  $('.row-department-<%= @department.id %>').find('.name').html('<%= @department.name %>')
  $('.row-department-<%= @department.id %>').find('.description').html('<%= @department.description %>')
  $('#myModal').modal('hide')
  $('.notification').append('<div class="alert alert-success"><%= t ".success" %></div>')
<% end %>
