<article class="col-12 tm-gallery-item">
  <figure>
      <% if order_item.dish.images.present? %>
        <%= image_tag order_item.dish.images.first.image.url, class: "img-fluid tm-gallery-img" %>
      <% end %>
      <figcaption>
        <h4 class="tm-gallery-title"><%= order_item.dish.name %></h4>
        <p class="tm-gallery-description"><%= order_item.dish.description %></p>
        <p class="tm-gallery-price"><%= number_to_currency(order_item.dish.price, unit: "vnđ") %> /
          <%= link_to admin_order_path(id: order_item.id), class: "premium-status", data: {id: order_item.id, remote: true} do %>
            <% if order_item.success? %>
                <span class="badge badge-success"><%= t "order_item.order_item_success" %></span>
              <% else %>
                <span class="badge badge-danger"><%= t "order_item.order_item_pending" %></span>
              <% end %>
          <% end %>
        </p>
      </figcaption>
  </figure>
</article>
