<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <%= link_to t("admin.dashboard"), admin_root_path, class: "navbar-brand" %>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <% if admin_user_signed_in? %>
          <%= link_to t("sign_ups.edit"), edit_admin_user_registration_path, class: "dropdown-item" %>
          <%= link_to t("admin.logout"), destroy_admin_user_session_path, method: :delete, class: "dropdown-item" %>
        <% else %>
            <%= link_to t("admin.login"), new_admin_user_session_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </li>
  </ul>
</nav>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" %>
