<h1><%= t "table_manage.title" %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t "table_manage.number_table" %></th>
      <th scope="col"><%= t "table_manage.number_seat" %></th>
      <th scope="col"><%= t "table_manage.status" %></th>
      <th scope="col"><%= t "table_manage.time" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "table_manage", collection: @table_manage %>
  </tbody>
</table>
<%= paginate @table_manage, theme: "twitter-bootstrap-3" %>
