<%= form_for [:admin, @book_table] do |f| %>
  <%= render "admin/shared/error_messages", object: f.object %>
  <div class="form-row">
    <div class="form-group col-md-5">
      <%= f.label t("dish_types.name") %>
      <p><span class="form-control"><%= @book_table.user.name %></span></p>
    </div>
    <div class="form-group col-md-5">
      <%= f.label t("book_tables.customer_phone") %>
      <p><span class="form-control"><%= @book_table.user.phone %></span></p>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :start_time, t("book_tables.date_of_arrival") %>
      <%= f.datetime_local_field :start_time, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :person, t("book_tables.person") %>
      <%= f.number_field :person, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :status, t("dishes.status") %>
      <br/>
      <%= f.select :status, options_status, {}, {class: "form-control"} %>
    </div>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
<%= javascript_pack_tag "image" %>
