<h1><%= t("admin_customer.title") %></h1>
<%= form_for @customer, url: admin_admin_customer_path(@customer), method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :email, t("admin_customer.email"), class: "small mb-1"%>
    <%= f.text_field :email, class: "form-control py-4", disabled: true%>
  </div>
  <div class="form-group">
    <%= f.label :name, t("admin_customer.name"),class: "small mb-1" %>
    <%= f.text_field :name, class: "form-control py-4 #{errors_textfield(f, :name)}" %>
    <p id="error_explanation"><%= show_errors(f, :name) %></p>
  </div>
  <div class="form-group">
    <%= f.label :address, t("admin_customer.address"),class: "small mb-1"%>
    <%= f.text_field :address, class: "form-control py-4 #{errors_textfield(f, :address)}" %>
    <p id="error_explanation"><%= show_errors(f, :address) %></p>
  </div>
  <div class="form-group">
    <%= f.label :phone, t("admin_customer.phone"),class: "small mb-1"%>
    <%= f.text_field :phone, class: "form-control py-4 #{errors_textfield(f, :phone)}" %>
    <p id="error_explanation"><%= show_errors(f, :phone) %></p>
  </div>
  <div class="form-group">
    <%= f.label :birthday, t("admin_customer.birthday")%>
    <%= f.datetime_local_field :birthday %>
    <p id="error_explanation"><%= show_errors(f, :birthday) %></p>
  </div>
  <% User.genders.keys.each do |key| %>
    <div class="form-group">
      <%= f.radio_button :gender, "#{key}", :checked => (@customer.gender == "#{key}") %>
      <%= f.label :gender, t("admin_customer.#{key}") %>
    </div>
  <% end %>
  <%= f.submit t("admin_customer.edit.submit"), class: "btn btn-primary" %>
<% end %>
