<p><%= t("mailer.reset_pass.hello")%><%= @resource.email %>!</p>

<p><%= t("mailer.reset_pass.content") %></p>

<p><%= link_to t("mailer.reset_pass.button"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("mailer.reset_pass.ignore_message") %></p>
