<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><%= yield(:button_text) %></h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <%= form_for [:admin, @user], remote: true do |f| %>
        <ul class="errors"></ul>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :name, t(".name") %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :address, t(".address") %>
              <%= f.text_field :address, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :phone, t(".phone") %>
              <%= f.text_field :phone, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :birthday, t(".birthday") %>
              <%= f.datetime_local_field :birthday, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :gender, t(".gender") %>
              <div class="row">
                <div class="col-md-3 man">
                  <%= f.label :gender, t(".man") %>
                  <%= radio_button("user", "gender", "man", checked: true) %>
                </div>
                <div class="col-md-5 women">
                  <%= f.label :gender, t(".women") %>
                  <%= radio_button("user", "gender", "women") %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :email, t(".email") %>
              <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :department_id, t(".department") %>
              <%= collection_select :user, :department_id, @department, :id, :name, {}, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :activated, t(".activated") %>
              <%= f.text_field :activated, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password, t(".pasword") %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, t(".password_confirmation") %>
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit t(".submit"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
