<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><%= t ".details_user" %></h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <p><%= t ".name" %>: <span class="name"><%= user.name %></span></p>
          <p><%= t ".email" %>: <span class="email"><%= user.email %></span></p>
          <p><%= t ".address" %>: <span class="address"><%= user.address %></span></p>
          <p><%= t ".phone" %>: <span class="phone"><%= user.phone %></span></p>
        </div>
        <div class="col-md-6">
          <p><%= t ".department" %>: <span class="department"><%= user.department_name %></span></p>
          <p><%= t ".gender" %>: <span class="gender"><%= t ".#{user.gender}" %></span></p>
          <p><%= t ".birthday" %>: <span class="birthday"><%= user.birthday %></span></p>
          <p><%= t ".activated" %>: <span class=""><%= t ".#{user.activated}" %></span></p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t ".close" %></button>
    </div>
  </div>
</div>
