<tr class="row-dp row-user-<%= user.id %>">
  <th class="row-id"></th>
  <td class="name"><%= user.name %></td>
  <td class="department"><%= user.department_name %></td>
  <td class="status">
    <%= link_to t(".show"), [:admin, user], "data-toggle": "modal", "data-target": "#myModal-show-user-#{user.id}", class: "btn btn-primary" %>
    <%= link_to t(".edit"), admin_user_registration_path(user), remote: true, class: "btn btn-warning" %>
    <%= link_to t(".delete"), [:admin, user], method: :delete, class: "btn btn-danger destroy-user", data: {id: user.id} %>
  </td>
</tr>
<div class="modal" id="myModal-show-user-<%= user.id %>">
  <%= render "show", user: user %>
</div>
