  <div class="modal-body">
    <%= form_for [:admin, @user] do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :department_id, t("sign_ups.department") %>
            <%= f.select :department_id, options_for_select(@departments, @user.department_id), {}, {class: "form-control"} %>
          </div>
          <div class="form-group">
            <%= f.label :name, t("sign_ups.name") %>
            <%= f.text_field :name, class: "form-control" %>
            <p class="error-name reset-error"></p>
          </div>
          <div class="form-group">
            <%= f.label :email, t("sign_ups.email") %>
            <%= f.text_field :email, class: "form-control" %>
            <p class="error-email reset-error"></p>
          </div>
          <div class="form-group">
            <%= f.label :gender, t("sign_ups.gender") %>
            <div class="row">
              <div class="col-md-3 man">
                <%= f.label :gender, t("sign_ups.man") %>
                <%= radio_button "user", "gender", "man", checked: true %>
              </div>
              <div class="col-md-5 women">
                <%= f.label :gender, t("sign_ups.women") %>
                <%= radio_button "user", "gender", "women" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :address, t("sign_ups.address") %>
            <%= f.text_field :address, class: "form-control" %>
            <p class="error-address reset-error"></p>
          </div>
          <div class="form-group">
            <%= f.label :phone, t("sign_ups.phone") %>
            <%= f.text_field :phone, class: "form-control" %>
            <p class="error-phone reset-error"></p>
          </div>
          <div class="form-group">
            <%= f.label :birthday, t("sign_ups.birthday") %>
            <%= f.datetime_local_field :birthday, class: "form-control" %>
            <p class="error-birthday reset-error"></p>
          </div>
          <div class="form-group">
            <%= f.label :role, t("sign_ups.role") %>
            <%= f.select :role, options_for_select(["admin", "customer", "waiters", "receptionists", "chef"], @user.role),{} , class: "form-control" %>
          </div>
        </div>
      </div>
      <%= f.submit t("sign_ups.update"), class: "btn btn-primary" %>
    <% end %>
  </div>
