<div class="list_users">
  <div class="notification"></div>
  <div class="top-title clearfix">
    <div class="title float-left">
      <h2><%= t ".title" %></h2>
      <%= collection_select :user, :department_id, @departments, :id, :name, {}, class: "form-control" %>
    </div>
    <div class="create float-right">
      <%= link_to t(".create_new"), new_admin_user_path, "data-toggle": "modal", "data-target": "#myModal-form-user", remote: true, class: "btn btn-primary" %>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= t ".name" %></th>
        <th scope="col"><%= t ".department" %></th>
        <th scope="col"><%= t ".status" %></th>
      </tr>
    </thead>
    <tbody class="tbody tbody-user" id="department-tbody">
      <%= render @users %>
    </tbody>
  </table>
  <div class="center">
    <%= paginate @users, theme: "twitter-bootstrap-3" %>
  </div>
</div>
<div class="modal" id="myModal-form-user">
</div>
