$('.notification').html('')
<% if @user.errors.any? %>
  $('#myModal-form-user').find('.reset-error').html('')
  $('#myModal-form-user').find('.form-control').css("border-color", "#ced4da");
  <% @user.errors.messages.each  do |key, value| %>
    $('#myModal-form-user').find('.error-<%= key %>').html('<%= "#{t("errors.user.#{key}")} #{value.join(", ")}" %>')
    $('#myModal-form-user').find('#user_<%= key %>').css("border-color", "#e68383");
  <% end %>
  $('.notification').append('<div class="alert alert-danger"><%= t ".danger" %></div>')
<% else %>
  $('.row-user-<%= @user.id %>').find('.name').html('<%= @user.name %>')
  $('.row-user-<%= @user.id %>').find('.department').html('<%= @user.department_name %>')
  $('#myModal-show-user-<%= @user.id %>').html('<%= j render "show", user: @user %>')
  $('#myModal-form-user').modal('hide')
  $('.notification').append('<div class="alert alert-success"><%= t ".success" %></div>')
<% end %>
