<div class="col-xs-6 col-md-3">
  <div class="table panel panel-default">
    <div class="panel-body">
      <p><%= t "dinner_tables.index.chair" %>: <span><%= dinner_table.number_seats %></span></p>
      <p class="<%= 'dinner-table-' + dinner_table.id.to_s %>"><%= t "dinner_tables.index.status" %>: <span class="<%= dinner_table.status %>"><%= t "dinner_tables.#{dinner_table.status}" %></span></p>
    </div>
    <div class="panel-footer text-center">
      <%= link_to "#{t('dinner_tables.name_table') + ' ' + dinner_table.table_number.to_s}", dinner_table_path(dinner_table), class: "btn btn-primary" %>
    </div>
  </div>
</div>
