<div class="col-md-3">
  <div class="dish panel panel-default">
    <div class="image-wrapper">
      <%= link_to (image_tag dish.images.first.image.url, alt: "#{dish.name}"), dish_path(dish) %>
    </div>
    <div class="panel-body">
      <h3><%= dish.name %></h3>
      <hr>
      <%= form_for order_item, remote: true do |f| %>
        <div class="row price">
          <div class="col-md-3 text"><%= t "dinner_tables.show.price" %>:</div>
          <div class="col-md-9 text-right"><span class="text-success"><%= number_to_currency dish.price %></span></div>
        </div>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :dish_id, value: dish.id %>
            <%= f.submit t("dinner_tables.show.submit"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
