<div class="container order-dishes">
  <div class="row">
    <div class="notification"></div>
    <div class="col-xs-6">
      <h2><%= t "dinner_tables.show.title" %><span>(<%= @dishes.size %>)</span></h2>
    </div>
    <div class="col-xs-6 text-right">
      <h1 class="cart-text"><%= render "layouts/cart_text" %></h1>
    </div>
    <div class="col-md-12">
      <hr>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="search col-md-4">
          <%= form_tag dinner_table_path, method: :get, class: "form-search" do %>
            <div class="row">
              <div class="col-md-8">
                <%= text_field_tag :search, params[:search], placeholder: t(".search.title"), class: "form-control" %>
              </div>
              <div class="col-md-4 button-search-cart">
                <%= submit_tag t(".search.submit"), class: "btn btn-secondary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <% if @dishes.size == 0 %>
        <%= t("dinner_tables.show.search_nil") %>
        <%= link_to t("order_items.index.back"), dinner_table_path(session[:params_id]) %>
      <% end %>
    </div>
    <div class="table-dishes">
      <% @dishes.each do |dish| %>
        <%= render "dish", dish: dish, order_item: @order_item %>
      <% end %>
    </div>
    <div class="col-md-12">
      <%= paginate @dishes, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</div>
