<div class="list clearfix">
  <div class="float-left">
    <h1 class="title-list"><%= t "order.list_orders" %></h1>
  </div>
</div>
<br/>
<div class="filter">
  <%= form_tag admin_order_invoices_path, method: :get, class: "form-inline"  do %>
    <span><%= t "order.table" %></span>
    <%= select_tag :option_table, options_for_select(list_table_numbers, selected: params[:option_table]), class: "form-control", include_blank: true %>
    <span><%= t "order.status" %></span>
    <%= select_tag :option_status, options_for_select(order_status, selected: params[:option_status]), class: "form-control", include_blank: true %>
    <%= submit_tag t("order.search"), class: "btn btn-secondary" %>
  <% end %>
</div>
<br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= "#" %></th>
      <th scope="col"><%= t "order.number_table" %></th>
      <th scope="col"><%= t "order.total_money" %></th>
      <th scope="col"><%= t "order.status" %></th>
      <th scope="col"><%= t "order.action" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "order_invoice",  collection: @order_invoices %>
  </tbody>
</table>
<%= paginate @order_invoices, theme: "twitter-bootstrap-3" %>
