<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p><%= t("footer.copyright") %></p>
      </div>
      <div class="col-md-6">
        <p><%= t "footer.design" %><em><%= t "footer.author" %></em></p>
      </div>
    </div>
  </div>
</footer>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
<%= javascript_pack_tag "scroll" %>
