<div class="header">
  <div class="container">
      <a href="#" class="navbar-brand scroll-top">HTT Restaurant</a>
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="main-nav" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to t("header.home"), "index.html" %></li>
            <li><%= link_to t("header.menu"), "index.html" %></li>
            <li><%= link_to t("header.blog"), "index.html" %></li>
            <li><%= link_to t("header.contact"), "index.html" %></li>
            <li>
              <div class="header-right">
                <a href="#"><%= t "search.search_button" %></a>
                <div class="search-form">
                    <%= form_tag( dishes_path, method: :get) do %>
                      <%= text_field_tag :search, nil, placeholder: t("search.search_button") %>
                      <%= submit_tag t("search.search_button") %>
                    <% end %>
                </div>
              </div>
            </li>
            <% if logged_in %>
              <li><%= link_to t("header.logout"), logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to t("header.login"), login_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
  </div>
</div>
