<div class="header">
  <div class="container">
      <a href="#" class="navbar-brand scroll-top">HTT Restaurant</a>
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="main-nav" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to t("header.home"), root_path %></li>
            <li><%= link_to t("header.menu"), dinner_tables_path %></li>
            <li><%= link_to t("search.search_button"), dishes_path %></li>
            <% if admin_user_signed_in? %>
              <li>
                <div class="dropdown">
                  <%= link_to t("book_tables.account"), "#" %>
                  <div class="dropdown-content">
                     <p><%= link_to t("book_tables.info"), user_path(current_admin_user) %></p>
                     <p><%= link_to t("sign_ups.edit"), edit_admin_user_registration_path %></p>
                     <p><%= link_to t("header.logout"), destroy_admin_user_session_path, method: :delete %></p>
                  </div>
                </div>
              </li>
            <% else %>
              <li><%= link_to t("header.login"), new_admin_user_session_path %></li>
              <li><%= link_to t("sign_ups.sign_up"), new_admin_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
  </div>
</div>
