<!DOCTYPE html>
<html>
  <head>
    <title>ManageRestaurant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "i18n" %>
    <%= javascript_include_tag "translations", skip_pipeline: true %>
  </head>
  <body class="sb-nav-fixed">
    <%= render "layouts/admin/header" %>
    <div id="layoutSidenav">
      <%= render "layouts/admin/left" %>
      <div id="layoutSidenav_content">
        <div id="admin-contents">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
      $('#department-tbody tr').each(function(i, tr) {
        $('#department-tbody tr:nth-child(' + i + ')').find('.row-id').text(i);
      })
      var counter = $('#department-tbody tr').length;
      $('#department-tbody tr:nth-child(' + counter + ')').find('.row-id').text(counter);
    </script>
  </body>
</html>
